<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS ONLY (boostrap) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>TEMPLATE</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action="/ninja/create" method="post">
        <div class="mb-3">
            <label for="dojo">Dojo:</label>
            <select name="dojo" id="dojo">
                {% for dojo in dojos %} 
                    <option name="dojo" value="{{ dojo.id }}">{{ dojo.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name">
        </div>
        <div class="mb-3">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name">
        </div>
        <div class="mb-3">
            <label for="age">Age</label>
            <input type="number" name="age">
        </div>
        <input type="submit" value="Add Ninja">
    </form>
    <a href="/dojos" class="my-3">Home</a>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>