@{
    ViewData["Title"] = "Home Page";
}


<h1>Greetings!</h1>
<h2>What are you called?</h2>

<form action="/submit" method="post">
    <input type="text" name="Name" class="form-control">
    <input type="submit" value="Submit" class="btn btn-success">
</form>