
<h1 class="text-center">You have successfully logged in or Registered!</h1>

<div class="d-flex justify-content-center">
    <form asp-action="Logout" asp-controller="Home" method="post">
        <input type="submit" value="Logout" class="btn btn-danger">
    </form>
</div>