@{
    ViewData["Title"] = "Home Page";
}
@model MyViewModel

<h1 class="text-center mb-5">
    <div class="d-flex justify-content-center">
        <a href="/">Products</a>
        <p>&nbsp| Categories</p>
    </div>
</h1>

<div class="d-flex justify-content-around">
    <div class="col-4">
        @await Html.PartialAsync("_NewCategoryForm", Model.Category)
    </div>
    <div class="col-4">
        @await Html.PartialAsync("_AllCategories", Model.AllCategories)
    </div>
</div>