@{
    ViewData["Title"] = "Home Page";
}
@model MyViewModel

<h1 class="text-center mb-5">
    <div class="d-flex justify-content-center">
        <a href="/">Products</a>
        <p>&nbsp|&nbsp</p>
        <a href="/categories">Categories</a>
    </div>
</h1>

<h2 class="text-center">@Model.Category.Name</h2>

<div class="d-flex justify-content-between">
    <div class="col-5">
        <h3>Products</h3>
        @foreach (Association association in Model.Category.ProductsInCategory)
        {
            <p>@association.Product.Name</p>
        }
    </div>

    <div class="d-flex flex-column col-5">
        @await Html.PartialAsync("_AddProdForm", Model)
    </div>
</div>